name: Build
on: [pull_request, push]

jobs:
  build:
    runs-on: macos-13
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Cache Cocoapods
        uses: actions/cache@v4
        with:
          path: ${{ env.PODS_PATH }}
          key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
      - name: Install Dependencies
        run: pod install --repo-update
      - name: List available devices
        run: xcrun xctrace list devices
      - name: Show Available Destinations
        run: xcodebuild -workspace DeepPanel.xcworkspace -scheme 'DeepPanel' -showdestinations
      - name: Lint Podspec
        run: pod lib lint --allow-warnings
      - name: Build DeepPanel
        run: set -o pipefail && xcodebuild clean test -workspace DeepPanel.xcworkspace -scheme 'DeepPanel' -destination 'platform=iOS Simulator,name=iPhone 14' -showBuildTimingSummary CODE_SIGN_IDENTITY=- | xcpretty -c
      - name: Install Dependencies
        working-directory: DeepPanelSample
        run: pod install
      - name: Build DeepPanelSample
        working-directory: DeepPanelSample
        run: set -o pipefail && xcodebuild clean test -workspace DeepPanelSample.xcworkspace -scheme 'DeepPanelSample' -destination 'platform=iOS Simulator,name=iPhone 14' -showBuildTimingSummary CODE_SIGN_IDENTITY=- | xcpretty -c

    env:
      PODS_PATH: ${{ github.workspace }}/Pods
